body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #121212;
    color: #e0e0e0;
    max-width: 600px;
    margin: auto;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #ffffff;
}

input, select {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #1e1e1e;
    color: #e0e0e0;
    border: 1px solid #333;
    text-transform: uppercase;
    font-size: 14px;
}

input::placeholder {
    color: #888;
}

#resultado {
    background-color: #1e1e1e;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #333;
    white-space: pre-wrap;
    text-align: left;
    font-size: 14px;
}

button {
    padding: 8px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
}

button:hover {
    background-color: #218838;
}

#copiarBtn {
    background-color: #007bff;
}

#copiarBtn:hover {
    background-color: #0056b3;
}
